 
    !copy && paste
   URxvt.perl-ext-common: clipboard
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste


Xft.dpi:                    96
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */
URxvt*font: xft:JetBrains Mono Medium Nerd Font:pixelsize=9
URxvt*boldFont: xft:JetBrains Mono Medium Nerd Font:pixelsize=9

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #00FFFF
URxvt.cursorUnderline:      true

! Pointer
URxvt.pointerBlank:         true

!!Source http://github.com/altercation/solarized

*background: #002b36
*foreground: #00FFFF
*fadeColor: #00FFFF
*cursorColor:#00FFFF
*pointerColorBackground: #00FFFF
*pointerColorForeground: #00FFFF
 URxvt.transparent:   true
    URxvt.tintColor:     white
    URxvt.shading:       25


! Dracula color scheme
URxvt.foreground: #F8F8F2
URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color8:     #44475A
URxvt.color1:     #FF5555
URxvt.color9:     #FFB86C
URxvt.color2:     #50FA7B
URxvt.color10:    #50FA7B
URxvt.color3:     #E6DB74
URxvt.color11:    #F1FA8C
URxvt.color4:     #6272A4
URxvt.color12:    #6272A4
URxvt.color5:     #BD93F9
URxvt.color13:    #FF79C6
URxvt.color6:     #8BE9FD
URxvt.color14:    #66D9EF
URxvt.color7:     #666666
URxvt.color15:    #FFFFF
